@model Bootcamp.Models.BreakInto_Page.BreakTech

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/BreakInto.css" asp-append-version="true" />
@*Section 1*@
<div class ="container">


<section class="section1">
    <div class="container">
            <div id="jumbotron" class="text-center">
                <h1 class="display-6">The Break into Tech + Get Hired Program</h1>
            <div>
                    <p class="leads">Land a High Paying & Fulfilling Job in <br /> Tech—in 12 Months or Less!</p>
            </div>
                <span class="lead"> Let us show you how fun, empowering, and fast making a career change <br /> into front end development and UI/UX design can be! </span>
            
        </div>
            <a href="#" class="btn btn-danger btn-lg btn-lg d-block mx-auto">ENROLL NOW</a>
    </div>
   
</section>
@*Section 2*@
    <div id="container2" class="row mt-4">
        <div id="text11" class="col-md-6">
        <h2 class="ForgetHeading">Forget Everything You Think <br /> You Know About Changing <br /> Careers</h2>
        <p class="p2">Career changes are hard, especially when you’re entering a fast moving field like tech. But doing it alone is even harder! So don’t do it on your own—we’re here to help.</p>
        <p class="p3">We’ll guide you through your entire career transition from start to finish with our game-changing Break Into Tech + Get Hired program. Plus we believe tech is for everyone, and will help you land a new job in tech no matter your age, stage of career, geographic location or prior experience.</p>
        </div>
        <div id="ForgetImg" class="col-md-6 text-center">
            <img src="/BreakImage/jg-group-5177-2-2-500x500.png.jpg "alt="Forget Image"/>
        </div>
       
    </div >
    <div id="Rating" class="text-center mt-4">
    <img src="/BreakImage/course-report-12-21.png.png" /> <span class="rate2"> <img src="/BreakImage/switchup-12-21.png.png" /> </span>
</div>
@*Section 3*@

    <div id="container3" class="text-center mt-4">

    <div class="want1">
        <hi> WANT A SNEAK PEEK? </hi>
        <h2> Here’s What’s Inside</h2>
        <h2>  The Break Into Tech Program </h2>

    </div>
            <div class="video-container">
                    <video class="video" controls>
                        <source src="/BreakImage/Bullseye Digital Manpower.mp4" type="video/mp4">
                    </video>
        
            </div>
        <div id="listcontainer" class="text-center">
                <ul>
                      <li>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="red" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                        </svg>
                    </span>
                           <span> Hundreds of video lessons</span>
                      </li>
                        <li>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="red" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                        </svg>
                    </span>
                        <span> Hundreds of practice exercises</span>
                        </li>
                    <li>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="red" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                        </svg>
                    </span>
                        <span> Dozens of feedback challenges</span>
                    </li>
                        <li>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="red" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                        </svg>
                    </span>
                            <span> Email access to instructors</span>
                        </li>
                    <li>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="red" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                        </svg>
                    </span>
                        <span> Live group Q&As</span>
                    </li>
                    <li>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="red" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                        </svg>
                    </span>
                        <span> 1-on-1 mentorship</span>
                    </li>
                </ul>

            </div>
</div>

     @*Section 4*@
    <div id="container4" class="mt-4">
        <div id="text12" class="row">
            <h2 class="BreakTech">How The Break Into Tech <br /> Program Works</h2>
            <p class="p3">Break Into Tech is a self-paced, online job training program broken up into 2 parts, each with tons of expertly designed coursework, real-world practice, and 1-on-1 support from instructors and Career Coaches. You’ll go from learning the skills to landing your dream job in no time.</p>
                   </div>
        <div class="BreakImg">
            <img src="/BreakImage/student-smiling-at-laptop-12-22.png.png" />
        </div>
       
    </div>
    <h2> Program Timeline</h2>
    <div class="TimelineImg">
        <img src="/BreakImage/bit-gh-timeline-06-2023-1024x312.png.png" alt="Learn Image" />
    </div>

    <div id="learncontainer" class="text-center mt-4">
        <div class="ilearnimg">   <img src="/BreakImage/red-number-1.png.png" /></div>
        <div class="learn">
            <h2>Learn The Skills</h2>
        </div>
        <div>Timeline: 6 Months</div>
    </div>

    <div id="stepcontainer" class="mt-4">
        <div>
            <h2 style="font-weight:bold;"> <span style="color:red; font-size:1em;"> Step 1:</span> Learn The Exact Tech Skills You Need To Get Hired</h2>
        </div>
        <div>
            <p class="enrol">
                When you enroll you’ll gain access to both of our career tracks: Front End Developer and UI/UX Designer.
                Each track is designed to get you job ready for an entry level job as either a Front End Developer or UI/UX Designer.

                If you’re not sure which path is right for you, never fear! Our professional mentors are here to help,
                plus if you change your mind down the road, the other track will always be just a few clicks away.
            </p>
        </div>

    </div>


    <div id="container5">
        <div id="con1">
            <div class="top1"> <img id="top1img" src="/BreakImage/fed-laptop-solid.png.png" /></div>
            <h2 style="padding-top: 1rem"> Front End Development Track</h2>
            <h3> INDUSTRY AVG SALARY: $105,000</h3>
            <p class="Front1"> Front end developers use HTML, CSS, and JavaScript to code up the designs created by web designers and implement them on the web.</p>
            <p class="Front2"> Skills You'll Learn:</p>
            <br>
            <ul class="dev-skills">
                <li class ="de2">HTML &amp; HTML5</li>
                <li class="de2">Domains, Web Hosting, FTP</li>
                <li class="de2">Git Version Control</li>
                <li class="de2">Command Line</li>
                <li class="de2">Flexbox</li>
                <li class="de2">Working with Local &amp; Remote Repositories</li>
                <li class="de2">Responsive Typography</li>
                <li class="de2">Media Queries &amp; Standard Breakpoints</li>
                <li class="de2">Building Web Apps with JavaScript React</li>
                <li class="de2">JavaScript Fundamentals</li>
            </ul>
        </div>

        <div id="con2">
            <div class="top2"> <img id="top1img" src="/BreakImage/web-design-arrow-solid.png.png" /> </div>
            <h2>UI/UX Design Track</h2>
            <h3 style="padding-top:.5em;">Industry Avg Salary: $100,000</h3>
            <p class="Front1">
                UI/UX designers create user interfaces for sites and apps. Then, they research and improve the interface to create the best user experience possible.
            </p>
            <p class="Front2">Skills You'll Learn:</p>
            <br>
            <ul class="design-skills">
                <li class="de1">UX Theory &amp; Best Practices</li>
                <li class="de1">User Research</li>
                <li class="de1">Design Thinking</li>
                <li class="de1">Data Collection &amp; Analysis</li>
                <li class="de1">Presenting Data</li>
                <li class="de1">Ideating Solutions</li>
                <li class="de1">Information Architecture</li>
                <li class="de1">Navigations</li>
                <li class="de1">Usability &amp; Universal Design</li>
                <li class="de1">Wireframing</li>
                <li class="de1">Digital Prototyping</li>
                <li class="de1">Usability Testing</li>
                <li class="de1">A/B Split Testing</li>
                <li class="de1">Data Analysis</li>
                <li class="de1">Facilitation &amp; Soft Skills</li>
                <li class="de1">UX Strategy &amp; Vision</li>
            </ul>

        </div>


    </div>

    <div class="topcontainer"> 
        <h2>With both career tracks you'll get 11 tech classes:</h2> 
        </div>
    <div class="elementor-element"> 
    <div id="tech-classes">
        <!-- Tech Classes Wrapper-->
        <div class="jg-tech-class-wrapper">
            <div class="developer-classes">
                <div>
                    <h5>HTML &amp; CSS</h5>
                </div>
                <div>
                    <img src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2022/01/jg-html-css-class-icon.png.webp" alt="" width="65" height="65" data-lazy-src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2022/01/jg-html-css-class-icon.png.webp" data-lazy-src-webp="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2022/01/jg-html-css-class-icon.png.webp" class="entered lazyloaded" data-ll-status="loaded">
                        <img src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2022/01/jg-html-css-class-icon.png"
                             />
                </div>
            </div>
            <div class="developer-classes">
                <div>
                    <h5>Working With Git &amp; GitHub</h5>
                </div>
                <div>
                    <img src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2022/01/jg-git-and-github-icon.png.webp" alt="" width="65" height="65" data-lazy-src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2022/01/jg-git-and-github-icon.png.webp" data-lazy-src-webp="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2022/01/jg-git-and-github-icon.png.webp" class="entered lazyloaded" data-ll-status="loaded">
                        <img src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2022/01/jg-git-and-github-icon.png"
                             />
                </div>
            </div>
            <div class="developer-classes">
                <div>
                    <h5>Coding Responsive Websites</h5>
                </div>
                <div>
                    <img src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2022/01/jg-responsive-web-dev-icon.png.webp" alt="" width="65" height="65" data-lazy-src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2022/01/jg-responsive-web-dev-icon.png.webp" data-lazy-src-webp="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2022/01/jg-responsive-web-dev-icon.png.webp" class="entered lazyloaded" data-ll-status="loaded">
                        <img src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2022/01/jg-responsive-web-dev-icon.png"
                             />
                </div>
            </div>
            <div class="developer-classes">
                <div>
                    <h5>JavaScript Fundamentals</h5>
                </div>
                <div>
                    <img src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2022/01/jg-js-class-icon-white.png.webp" alt="" width="65" height="65" data-lazy-src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2022/01/jg-js-class-icon-white.png.webp" data-lazy-src-webp="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2022/01/jg-js-class-icon-white.png.webp" class="entered lazyloaded" data-ll-status="loaded">
                        <img src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2022/01/jg-js-class-icon-white.png"
                             />
                </div>
            </div>
            <div class="developer-classes">
                <div>
                    <h5>Introduction to JavaScript React</h5>
                </div>
                <div>
                    <img src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2022/01/jg-react-js-class-icon.png.webp" alt="" width="65" height="65" data-lazy-src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2022/01/jg-react-js-class-icon.png.webp" data-lazy-src-webp="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2022/01/jg-react-js-class-icon.png.webp" class="entered lazyloaded" data-ll-status="loaded">
                        <img src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2022/01/jg-react-js-class-icon.png"
                            />
                </div>
            </div>
        </div>
        <div class="jg-tech-class-wrapper">
            <div class="design-classes">
                <div>
                    <h5>Web Design Fundamentals</h5>
                </div>
                <div style="background:white;">
                    <img src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2023/01/ui-ux-web-design-stroke.png.webp" alt="" width="65" height="65" style="background:white;border-radius:53px;" data-lazy-src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2023/01/ui-ux-web-design-stroke.png.webp" data-lazy-src-webp="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2023/01/ui-ux-web-design-stroke.png.webp" class="entered lazyloaded" data-ll-status="loaded">
                        <img src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2023/01/ui-ux-web-design-stroke.png"
                            />
                </div>
            </div>
            <div class="design-classes">
                <div>
                    <h5>Visual Design Fundamentals</h5>
                </div>
                <div>
                    <img src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2023/01/ui-ux-visual-design-stroke.png.webp" alt="" width="65" height="65" style="background:white; border-radius: 53px;" data-lazy-src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2023/01/ui-ux-visual-design-stroke.png.webp" data-lazy-src-webp="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2023/01/ui-ux-visual-design-stroke.png.webp" class="entered lazyloaded" data-ll-status="loaded">
                        <img src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2023/01/ui-ux-visual-design-stroke.png"
                           />
                </div>
            </div>
            <div class="design-classes">
                <div>
                    <h5>Branding &amp; Identity Design</h5>
                </div>
                <div>
                    <img src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2023/01/ui-ux-branding-stroke.png.webp" alt="" width="65" height="65" style="background:white;border-radius:53px;" data-lazy-src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2023/01/ui-ux-branding-stroke.png.webp" data-lazy-src-webp="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2023/01/ui-ux-branding-stroke.png.webp" class="entered lazyloaded" data-ll-status="loaded">
                        <img src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2023/01/ui-ux-branding-stroke.png"
                          />
                </div>
            </div>
            <div class="design-classes">
                <div>
                    <h5>User Experience Research</h5>
                </div>
                <div>
                    <img src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2023/01/ui-ux-user-experience-stroke.png.webp" alt="" width="65" height="65" style="background:white;border-radius:53px;" data-lazy-src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2023/01/ui-ux-user-experience-stroke.png.webp" data-lazy-src-webp="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2023/01/ui-ux-user-experience-stroke.png.webp" class="entered lazyloaded" data-ll-status="loaded">
                        <img src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2023/01/ui-ux-user-experience-stroke.png"
                  />
                </div>
            </div>
            <div class="design-classes">
                <div class="info11">
                    <h5>Information Architecture &amp; Prototyping</h5>
                </div>
                <div>
                    <img src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2023/01/ui-ux-information-prototyping-stroke.png.webp" alt="" width="65" height="65" style="background:white;border-radius:53px;" data-lazy-src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2023/01/ui-ux-information-prototyping-stroke.png.webp" data-lazy-src-webp="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2023/01/ui-ux-information-prototyping-stroke.png.webp" class="entered lazyloaded" data-ll-status="loaded">
                        <img src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2023/01/ui-ux-information-prototyping-stroke.png"
          />
                </div>
            </div>
            <div class="design-classes">
                <div>
                    <h5>User Testing &amp; Iteration</h5>
                </div>
                <div>
                    <img src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2023/01/ui-ux-user-testing-stroke.png.webp" alt="" width="65" height="65" style="background:white;border-radius:53px;" data-lazy-src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2023/01/ui-ux-user-testing-stroke.png.webp" data-lazy-src-webp="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2023/01/ui-ux-user-testing-stroke.png.webp" class="entered lazyloaded" data-ll-status="loaded">
                        <img src="https://d1le3ohiuslpz1.cloudfront.net/skillcrush/wp-content/uploads/2023/01/ui-ux-user-testing-stroke.png"
                         />
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

<div class="elementor-widget-container">
            <h2 class="elementor-heading-title">Plus, ALL the Support You Need to Get Job Ready</h2>
</div>

    <div class="element-container">
        <img id="fouroneimg" src="/BreakImage/jg-gif-placeholder.png.png" />

        <ul class="elementlist-items">
                    <li class="list-item">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="red" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                </svg>
            </span>
                        <span class="list-text">4 One-On-One Mentor Check-ins Focused On Your Career Goals &amp; Questions</span>
                    </li>
                    <li class="list-item">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="red" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                </svg>
            </span>
                        <span class="list-text">Weekly Live Q&amp;As With Your Instructors and Fellow Students</span>
                    </li>
                    <li class="list-item">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="red" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                </svg>
            </span>
                        <span class="list-text">Direct Feedback On Your Work &amp; Unlimited Email Support For 6 Months</span>
                    </li>
                    <li class="list-item">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="red" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                </svg>
            </span>
                        <span class="list-text">Access To The Thriving Skillcrush Slack Community</span>
                    </li>
                </ul>
    </div>

<div id="stepcontainer" class="mt-4">
    <div>
        <h2 style="font-weight:bold;"> <span style="color:red; font-size:1em;"> Step 2:</span> Build a Killer Portfolio to Show Off All of Your New Technical Skills</h2>
    </div>
    <div>
        <p class="enrol">
            To complete your career track, you’ll build a portfolio and have it reviewed and approved by a professional mentor!
            Check out these portfolios by Get Hired students (who’ve all received job offers):
        </p>
    </div>

</div>

<div class="Stepcontainer">

    <div class="steimgcontainer">
        <img id="steimg" src="/BreakImage/jg-kacey-1-1.png.png" />
            </div>
                <section class="stepsection">
                    <div class="containergap">
            <div class="steimgcontainer">
                      
                    </div>
                    <div class="textcontainer">
                <img id="steimg1" src="/BreakImage/jg-kacey-2-1-500x500.png.png" />
                              <p><strong>Kacey Willis</strong></p><p>Front End Developer</p><p>CafeMedia</p><p><a href="https://www.kaceycreative.com/" target="_BLANK">View portfolio</a></p>
                     </div>
                    </div>
                </section>
    <div class="steimgcontainer">
        <img id="steimg" src="/BreakImage/niki-haynes-portfolio.png.png" />
    </div>
                    <section class="stepsection">
                       @* <div class="containergap">
            
                        </div>*@
                             <div class="textcontainer">
            <img id="steimg1" src="/BreakImage/niki-haynes.jpeg.png" />
            <p id="textcon1">Niki Haynes</p><p class="textcon1">Digital Creative Designer</p><p>Bass Pro Shops</p><p><a href="https://www.kaceycreative.com/" target="_BLANK">View portfolio</a></p>
                             </div>
                    </section>


    <div class="steimgcontainer">
        <img id="steimg" src="/BreakImage/jg-liz-1-1.png.png" />
    </div>
                    <section class="stepsection">
               @*         <div class="containergap">
            <div class="steimgcontainer">
                                 
                            </div>
                        </div>*@
                        <div class="textcontainer">
            <img id="steimg1" src="/BreakImage/jg-liz-2-1-500x500.png.png" />
            <p>Elizabeth Gunn</p><p>Front End Developer</p><p>ASICS</p><p><a href="https://www.kaceycreative.com/" target="_BLANK">View portfolio</a></p>
                        </div>
                    </section>

</div>