@model Bootcamp.Models.BreakInto_Page.BreakTech

@{
    ViewData["Title"] = "Index";
}
@*Section 1*@
<div class ="container">


<section class="section1">
    <div class="container">
        <div class="jumbotron text-center">
            <h1>The Break into Tech + Get Hired Program</h1>
            <div>
                <p>Land a High Paying & Fulfilling Job in <br /> Tech—in 12 Months or Less!</p>
            </div>
            <span> Let us show you how fun, empowering, and fast making a career change <br /> into front end development and UI/UX design can be! </span>
            
        </div>
        <a href="#" class="btn btn-danger btn-lg">ENROLL NOW</a>
    </div>
   
</section>
@*Section 2*@
    <div class="container2">
        <div class="text11">
        <h2 class="ForgetHeading">Forget Everything You Think <br /> You Know About Changing <br /> Careers</h2>
        <p class="p2">Career changes are hard, especially when you’re entering a fast moving field like tech. But doing it alone is even harder! So don’t do it on your own—we’re here to help.</p>
        <p class="p3">We’ll guide you through your entire career transition from start to finish with our game-changing Break Into Tech + Get Hired program. Plus we believe tech is for everyone, and will help you land a new job in tech no matter your age, stage of career, geographic location or prior experience.</p>
        </div>
        <div class="ForgetImg">
            <img src="/BreakImage/jg-group-5177-2-2-500x500.png.jpg"/>
        </div>
       
    </div >
<div class="Rating">
    <img src="/BreakImage/course-report-12-21.png.png" /> <span class="rate2"> <img src="/BreakImage/switchup-12-21.png.png" /> </span>
</div>
@*Section 3*@

<div class="container3">

    <div class="want1">
        <hi> WANT A SNEAK PEEK? </hi>
        <h2> Here’s What’s Inside</h2>
        <h2>  The Break Into Tech Program </h2>

    </div>
            <div class="video-container">
                    <video class="video" controls>
                        <source src="/BreakImage/Bullseye Digital Manpower.mp4" type="video/mp4">
                    </video>
        
            </div>
            <div class="listcontainer">
                <ul>
                            <li>
                                @*<span> </span>*@
                                <span> Hundreds of video lessons</span>
                            </li>
                    <li>
                        <span>    
                       </span>
                    <span> Hundreds of practice exercises</span>
                       
                    </li>
                    <li>
                        @*<span> </span>*@
                        <span> Dozens of feedback challenges</span>
                    </li>
                    <li>
                        @*<span> </span>*@
                        <span> Email access to instructors</span>
                    </li>
                    <li>
                        @*<span> </span>*@
                        <span> Live group Q&As</span>
                    </li>
                    <li>
                       @* <span> </span>*@
                        <span> 1-on-1 mentorship</span>
                    </li>
                </ul>

            </div>
</div>

     @*Section 4*@
    <div class="container4">
        <div class="text12">
            <h2 class="BreakTech">How The Break Into Tech <br /> Program Works</h2>
            <p class="p3">Break Into Tech is a self-paced, online job training program broken up into 2 parts, each with tons of expertly designed coursework, real-world practice, and 1-on-1 support from instructors and Career Coaches. You’ll go from learning the skills to landing your dream job in no time.</p>
                   </div>
        <div class="BreakImg">
            <img src="/BreakImage/student-smiling-at-laptop-12-22.png.png" />
        </div>
       
    </div>
    <h2> Program Timeline</h2>
    <div class="TimelineImg">
        <img src="/BreakImage/bit-gh-timeline-06-2023-1024x312.png.png" />
    </div>

    <div class="learncontainer">
        <div class="ilearnimg">   <img src="/BreakImage/red-number-1.png.png" /></div>
        <div class="learn">
            <h2>Learn The Skills</h2>
        </div>
        <div>Timeline: 6 Months</div>
    </div>

    <div class="stepcontainer">
        <div>
            <h2 style="font-weight:bold;"> <span style="color:red; font-size:1em;"> Step 1:</span> Learn The Exact Tech Skills You Need To Get Hired</h2>
        </div>
        <div>
            <p class="enrol">
                When you enroll you’ll gain access to both of our career tracks: Front End Developer and UI/UX Designer.
                Each track is designed to get you job ready for an entry level job as either a Front End Developer or UI/UX Designer.

                If you’re not sure which path is right for you, never fear! Our professional mentors are here to help,
                plus if you change your mind down the road, the other track will always be just a few clicks away.
            </p>
        </div>
    </div>


</div>