
@{
    ViewData["Title"] = "View";
}

    <title>Result View Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <div class="container mt-4">
        <h1 class="text-center">Result View Dashboard</h1>

        <table class="table table-bordered table-striped mt-4">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Subject</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="3"  style="justify-content:center; font-size:2rem; font-weight:bold;">Surakat Samuel</td>
                    <td>HTML</td>
                    <td>95</td>
                </tr>
                <tr>
                    <td>CSS</td>
                    <td>88</td>
                </tr>
                <tr>
                    <td>JAVASCRIPT</td>
                    <td>75</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


