*{
    /*border: 1px solid red;*/
}


.alert {
    position: fixed;
    top: 0;
    z-index: 99999;
    background: #8ed8e6;
    width: 100%;
    height:12%;
}
.alert-dismissible .btn-close {
    height: 12px;
    right: 8px;
    top: -11px;
    width: 6px;
}
.alert h2{
    padding-left: 20rem;
    padding-top: 0.50rem;
    font-size: 23px;
}
.alert p {
    text-align: center;
    font-size: 16px;
    color: #000;
    font-family: "Open Sans";
    line-height: 2;
    position: relative;
    bottom: 2.30rem;
    right: 3.50rem;
}
.span{
    position:relative;
    bottom: 4.80rem;
    left: 50rem;
    text-decoration: none;
    color: black;
    background-color: #fff;
    padding: 16px 24px;
    font-weight: bold;
    font-size: 18px;
}
.board-space{
    padding-bottom: 3rem;
}
.board {
    display: flex;
    border-bottom: 2px solid grey;
}
.board .text{
    padding-left: 8rem;
    line-height: 4rem;
}
.board-image img{
    position:relative;
    left: 14rem;
}
.quize {
    display: inline-block;
    text-align: center;
    border-width: 0px;
    text-shadow: none;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    border-radius: 2rem;
    color: #fff;
    background: #1977CC;
    border: none;
    padding: 16px 24px;
}
    .quize:hover {
        background-color: #166ab5;
    }
    .dropdown button:hover {
        color: #fff;
        background-color: #166ab5;
    }
.card-wrapper {
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

 .my-card {
    display: flex;
    flex-direction: column;
    border: none;
}

.image > img {
    max-height: 12rem;
    width: 100%;
}

.my-card-title {
    margin: .75rem 0;
    text-align: center;
    font-weight: bold;
}

.card-text {
    text-align: center;
    margin-bottom: 0.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.my-card-body a {
    color: rgba(241,96,89,0.8);
    text-transform: uppercase;
    font-size: 0.80rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid;
    border-bottom-color: rgba(241,96,89,0.8);
    padding-bottom: 0.4rem;
    margin: 0 auto;
}

.my-card-body a:hover {
    border-bottom-color: rgb(241,96,89);
    color: rgb(241,96,89);
}


.my-card-body {
    border: none;
}

.card-cta {
    display: flex;
    justify-content: center;
}
.pagination-container{
   position:relative;
   left: 20rem; 
   font-size: 1.50rem;
   padding-top: 2rem;
}
.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

    .pagination li {
        display: inline;
        margin-right: 5px;
    }

    .pagination a {
        color: #8ed8e6;
        text-decoration: none;
        transition: color 0.3s;
        padding: 6px 12px;
        border:2px solid grey;
    }

        .pagination a:hover {
            color: #0056b3;
        }

    .pagination .disabled a {
        color: #6c757d;
        pointer-events: none;
    }





