*{
    /*border: 1px solid red;*/
}



.card-wrapper {
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

 .my-card {
    display: flex;
    flex-direction: column;
    border: none;
}

.image > img {
    max-height: 12rem;
    width: 100%;
}

.my-card-title {
    margin: .75rem 0;
    text-align: center;
    font-weight: bold;
}

.card-text {
    text-align: center;
    margin-bottom: 0.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.my-card-body a {
    color: rgba(241,96,89,0.8);
    text-transform: uppercase;
    font-size: 0.80rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid;
    border-bottom-color: rgba(241,96,89,0.8);
    padding-bottom: 0.4rem;
    margin: 0 auto;
}

.my-card-body a:hover {
    border-bottom-color: rgb(241,96,89);
    color: rgb(241,96,89);
}


.my-card-body {
    border: none;
}

.card-cta {
    display: flex;
    justify-content: center;
}





