


.card > img {
    height: 15rem;
}

.card-title {
    margin-bottom: .75rem;
    text-align: center;
    font-weight: bold;
}

.card-text {
    text-align: center;
}

.card-body{
    border: none;
}
