* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
    font-family: Montserrat, Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

:root {
    font-size: 16px;
}

.first {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/camp-bg-8-22-1.png);
    padding-top: 10rem;
    width: 100%;
}

.first h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #2c4964;
    padding-bottom: 0.50rem;
}

.first h2 {
    line-height: 2.5rem;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1.25rem;
    color: #2c4964;
}

.first p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
    padding-bottom: 3rem;
    color: #2c4964;
}

.header-text:before,
.header-text:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

.header-text:before {
    margin-right: 0.625rem;
}

.header-text:after {
    margin-left: 0.625rem;
}

.header-text {
    display: flex;
    flex-direction: row;
    color: black;
    padding: 1.875rem;
}

.second {
    padding-top: 10rem;
    /*padding-bottom: 30rem;*/
}

.space {
    padding-top: 5rem;
}

.text {
    margin-top: 0;
}

.less {
    display: flex;
    align-items: flex-start;
    float: left;
    margin-right: 0.625rem;
    justify-content: space-evenly;
}

    .less img {
        position:relative;
        bottom: -4rem;
        margin-right: 1.25rem;
    }

.uppercase1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    padding-top: 1.875rem;
    padding-left: 3rem;
    color: #2c4964;
}

.second h2 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.25rem;
    text-align: center;
    color: #2c4964;
}

.base {
    line-height: 2rem;
    font-size: 1.25rem;
    padding-left: 3rem;
    padding-right: 4rem;
    color: #2c4964;
}

.nsl-container {
    font-size: 1.25rem;
    font-weight: bold;
    background: #8ad1ded4;
    border: none;
    margin-left: 1.875rem;
    padding: 0.75rem 5rem;
    padding-bottom: 0.625rem;
    margin-right: 0.3rem;
}

    .nsl-container svg {
        margin-left: 2rem;
    }

    .nsl-container:hover {
        background: #b4dee6;
    }

.nsl-container1 {
    font-size: 1.25rem;
    font-weight: bold;
    background: #8ad1ded4;
    border: none;
    margin-left: 1.875rem;
    padding: 0.75rem 5rem;
    margin-bottom: 1.5625rem;
    margin-right: 0.3rem;
}

    .nsl-container1 svg {
        margin-left: 2rem;
    }

    .nsl-container1:hover {
        background: #b4dee6;
    }



#strong {
    padding-left: 0.9375rem;
    margin-left: 3.125rem;
    margin-top: -1.6rem;
    float: left;
}

#ye {
    padding-left: 0.9375rem;
    margin-left: 3.125rem;
    margin-top: -1.6rem;
    float: left;
}

.third {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/camp-bg-green-2.png);
    padding-top: 6rem;
    width: 100vw;
}

.form-body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
label {
    font-size: .75rem;
    font-weight: 700;
    line-height: 1.2rem;
    text-transform: uppercase;
    font-family: Open Sans;
    color: #2c4964;
}
 .span input {
    --tw-border-opacity: 1;
    flex-shrink: 0;
    height: 1.30rem;
    margin-right: 1rem;
    width: 1.25rem;
    border: 2px solid black;
}
.form-control {
    height: 3.3125rem;
    background: #f2f2f2;
    box-shadow: none !important;
    border: none;
    padding: 1rem 1.25rem;
    text-indent: 1.25rem;
}

    .form-control:focus {
        background: #f2f2f2;
    }

.form-control, .btn {
    border-radius: 0.14rem;
}

.signup-form {
    width: 50vw;
    padding-top: 1.875rem;
}

    .signup-form form {
        color: #999;
        border-radius: 0.1875rem;
        background: #fff;
        box-shadow: 0 0 0.375rem 0.25rem rgba(225,105,100,0.19);
        padding: 7.5rem;
    }



    .signup-form .form-group {
        margin-bottom: 1.25rem;
    }

    .signup-form input[type="checkbox"] {
        padding: 0 1rem 0 0 0;
        width: 1.875rem;
        height: 1.75rem;
        border: 0.5rem solid;
    }

    .signup-form .row div:first-child {
        padding-right: 0.625rem;
    }

    .signup-form .row div:last-child {
        padding-left: 0.625rem;
    }

    .signup-form .btn {
        display: flex;
        align-items: center;
        font-size: 1.25rem;
        font-weight: bold;
        background: #1977cc;
        border: none;
        margin-left: 0.875rem;
        padding: 2rem 7.375rem;
    }

        .signup-form .btn:hover, .signup-form .btn:focus {
            background: #6b9ce2 !important;
            outline: none;
        }

    .signup-form a {
        color: #fff;
        text-decoration: underline;
    }

        .signup-form a:hover {
            text-decoration: none;
        }

    .signup-form form a {
        color: #1977cc;
        text-decoration: none;
    }

    .signup-form .hint-text {
        padding-bottom: 1.25rem;
        text-align: center;
    }

.header {
    line-height: 3.5rem;
    font-weight: 700;
    font-size: 2.25rem;
    text-align: center;
    padding-left: 23rem;
    padding-right: 23rem;
    margin-bottom: 8rem;
    font-family: Montserrat,Open Sans;
    color: #2c4964;
}

    .checkmark .text {
        fill: white;
    }

.checkmark .text1 {
    fill: #F16059;
}

.bottom {
    margin: 0 auto;
}

.relative1 {
    padding-left: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-family: Open Sans;
    color: #2c4964;
}

ul{
    position: relative;
    top: 1rem;
    padding-bottom: 12rem;
}

.mr-10 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 7rem;
    margin-top: 0.8rem;
}

    .svg p {
        margin-top: -3.125rem;
    }

.text-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.50rem;
    margin-left: 13.625rem;
    margin-bottom: 1.60rem;
    color: #2c4964;
}

cite {
    font-size: 1.50rem;
}

.h3 {
    padding-bottom: 4rem;
    padding-left: 2rem;
    font-weight: 700;
    font-size: 1.4375rem;
    color: #2c4964;
}

.section-wrapper{
    display: flex;
    width: 70%;
    margin: 0 auto;
}
.image1 {
    padding-left: 1rem;
    width: 25%;
    padding-bottom: -5rem;
}
.checkmark {
     width: 3rem;
    margin-top: -1rem;
}

.quote{
    margin-left: 2rem;
}
.bottom-set{
   position: relative;
   bottom: -3rem;
}
