body {
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat,Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.first {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/camp-bg-8-22-1.png);
    padding-top: 10%;

}
    .first h1 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.70rem;
        line-height: 1.75rem;
    }
    .first h2 {
        line-height: 2.5rem;
        font-weight: 700;
        font-size: 5rem;
        margin-bottom: 1.25rem;
        margin-bottom: 1.25rem;
    }
    .first p {
        font-size: 1.20rem;
        line-height: 1.75rem;
        text-align: center;
        padding-bottom: 5rem;
    }
.header-text:before, .header-text:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}
.header-text:before {
    margin-right: 10px
}

.header-text:after {
    margin-left: 10px
}
.header-text {
    display: flex;
    flex-direction: row;
    color: black;
    padding: 30px;
}
.second {
    padding-top: 10%;
    padding-bottom: 30%;
    display: block;
}
.space{
    padding-top: 80px;
}

.text {
    margin-top: 0;
}

.less {
    display: flex;
    align-items: flex-start;
    float: left;
    margin-right: 10px;
    justify-content: space-evenly;
}
 .less img {
     margin-top: 30px;
      margin-right: 20px;
    }

.uppercase1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    padding-top:30px;
}
.second h2 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 2.25rem;
}
.base {
    line-height: 2rem;
    font-size: 1.25rem;
}
.nsl-container {
    font-size: 20px;
    font-weight: bold;
    background: #e1696430;
    border: none;
    margin-left: 30px;
    padding: 12px 80px;
    padding-bottom: 10px;
}
.nsl-container svg{
    margin-left: 100px;
}
.nsl-container:hover {
    background: rgba(225,105,100,0.35);
}
.nsl-container1 {
    font-size: 20px;
    font-weight: bold;
    background: #e1696430;
    border: none;
    margin-left: 30px;
    padding: 12px 80px;
    margin-bottom: 25px;
}
.nsl-container1 svg {
        margin-left: 100px;
    }
.nsl-container1:hover {
    background: rgba(225,105,100,0.35);
}
strong {
    padding-left: 15px;
    margin-left: 130px;
    margin-top: -30px;
    float: left;
}
#ye {
    padding-left: 15px;
    margin-left: 130px;
    margin-top: -30px;
    float: left;
}

.third {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/camp-bg-green-2.png);
    padding-top: 10%;
    padding-bottom: 30%;
}

.form-body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
    align-content: center;

}

.form-control {
    height: 41px;
    background: #f2f2f2;
    box-shadow: none !important;
    border: none;
    padding: 16px 20px;
}

    .form-control:focus {
        background: #f2f2f2;
    }

.form-control, .btn {
    border-radius: 3px;
}

.signup-form {
    width: 50vw;
   padding-top:100px;
}

    .signup-form form {
        color: #999;
        border-radius: 3px;
         margin-bottom: 15px;
        background: #fff;
        box-shadow: 0 0 6px 4px rgb(225,105,100,0.19);
        padding: 120px;
    }

    .signup-form .form-group {
        margin-bottom: 20px;
    }

    .signup-form input[type="checkbox"] {
        padding: 0 16px 0 0 0;
        width: 30px;
        height: 28px;
        border: 8px solid;
    }

    .signup-form .row div:first-child {
        padding-right: 10px;
    }

    .signup-form .row div:last-child {
        padding-left: 10px;
    }

    .signup-form .btn {
        align-items:center;
        font-size: 20px;
        font-weight: bold;
        background: #F16059;
        border: none;
        margin-left: 30px;
        padding: 30px 150px;
    }

        .signup-form .btn:hover, .signup-form .btn:focus {
            background: #2389cd !important;
            outline: none;
        }

    .signup-form a {
        color: #fff;
        text-decoration: underline;
    }

        .signup-form a:hover {
            text-decoration: none;
        }

    .signup-form form a {
        color: #F16059;
        text-decoration: none;
    }

    .signup-form .hint-text {
        padding-bottom: 15px;
        text-align: center;
    }
.header {
    line-height: 3.5rem;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    padding-left: 30rem;
    padding-right: 30rem;
    margin-bottom: 8rem;
}
.checkmark {
    width: 6%;
}
.checkmark .text{
   fill: white;
}
.checkmark .text1 {
    fill: #F16059;
}
.bottom {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}
.relative2 {
    margin-right: -70px;
}
.relative1 {
    padding-left: 22rem;
    padding-right: 22rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.50rem;
}
ul svg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 150px;
}
.svg {
    align-items: center;
}
.text-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    margin-left: 250px;
    margin-bottom: 20px;
}
cite {
    font-size: 1.75rem;
}
.h3 {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    padding: 20px;
    padding-right: 130px;
}
.up{
    position: relative;
    bottom: 230px;

}
.image1 img{
    margin-left: 40px;
}
.quote{
   
}