
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Montserrat,'Open Sans',sans-serif;
}

.top-nav-container {
    display: flex;
    padding: 0.3rem 3.3rem;
    border: 1px solid #e3dede;
    background-color: #F5F5F5;
    width:100%;
}

.nav-with-love
{
    width: 20px;
    margin-top:-0.8rem;
    margin-right:1px;
}

.top-nav-text-container {
    display: flex;
    margin-right: 45.4rem;
    margin-top: 0.3rem;
}

.nav-tagline-text {
    font-size: 14px;
    font-weight: 900;
    font-family: Montserrat,'Open Sans',sans-serif;
}
.SignIn svg{
    width: 16px;
   /* display: flex;*/
    background-color: transparent;
    border: 0;
    /* display: none;*/
    font-size: 14px;
    line-height: 1.625em;
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 2.7px;
    padding-left: 0px;
  
  

}
.SignIn {
    display: flex;
   /* width: fit-content;*/
   justify-content:center;
   
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 400;
    flex-direction:row;

}


    #kkkk:hover {
        cursor: pointer;
        color: #F16059;
        border-color: red;
        white-space: nowrap;
    }

    .SignIn p {
        padding-left: 8px;
        margin: 0;
        padding-bottom: 0;
        margin-top: 0.2rem;
    }

   

.menu-main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
   
    
}

.main-navbar img {
    width: 95px;
}

.main-navbar p {
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 400;
  /*  margin-left: -0.1rem;*/
}
.main-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    width: 100%;
    padding: 1rem;
    border: 1px solid #D7D7D7;
}

#mmmm :hover {
    cursor: pointer;
    color: red;
}

    #camp {
        padding: 0.5rem 1.9rem;
        background-color: #F16059;
        color: white;
        display: block;
        font-family: Montserrat,'Open Sans',sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 1;
        padding: 14px 32px;
        padding-top: 14px;
        padding-right: 32px;
        padding-bottom: 14px;
        padding-left: 32px;
        text-decoration: none;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: initial;
        text-decoration-color: initial;
    }

    #camp:hover
    {
        cursor:pointer;
        background-color:#743737;
        color:white;
    }

.main-footer-container {
    border-top: 0.1px solid #ddcdcd;
    padding-top:50px;
}


footer h3 {
    font-weight: 800;
    text-align: center;
    font-size: 27px;
    font-family: Montserrat,'Open Sans',sans-serif;
    font-stretch: extra-expanded;
}

.search-container
{
    display:flex;
    justify-content:center;
    margin-top:25px;
}

.search-input {
    border: 2.0px solid black;
    width: fit-content;
    height: 72px;
    margin-right:8.5px;
}

    .search-input input{
        width:170px;
        height:65px;
        border:none;
        text-align:center;
    }

    .search-button svg {
        width: 12px;
    }

.search-button 
{
    background-color:black;
    width:fit-content;
    padding:1px 65px;
    display:flex;
    margin-left:8.5px;
    text-align:center;
    justify-content:center;
}

.submit-button {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    text-align: center;
    margin-top: 23px;
    margin-left:5px;
}

.submit-button p
{
   
    text-align:center;
}

.footer-menu
{
    margin-top:80px;
    display:flex;
    justify-content:space-around;
   
}



    .menu-section {
        /* width: fit-content;*/
    }

.menu-section a{
    line-height:40px;
}

.footer-menu hr{
    border:1px solid black;
}

.social-logos img
{
    width:47px;
    margin-right:8px;
}

.text-white
{
    color:white;
    background-color:white;
}

.social-logos
{
    padding-left:57rem;
    margin-top:2rem;
}

.footer-help svg {
    width: 30px;
    color: #F16059;
}

.footer-help {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2.5rem;
    align-items: center;
    /* margin-right:5rem;*/
    margin-left: -12rem;
    padding: 2.5rem;
}

.help-logo
{
    display:flex;
}

.need-help
{
    margin-left:0.9rem;
}

.footer-counselor
{
    margin-left:2.5rem;
}

.footer-logo-title img
{
    width: 120px;
}

.footer-logo-title {
    padding: 1rem;
    border-top: 1px solid #D7D7D7;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 12px;
    padding: 2.5rem 3.3rem;
}

.line-divider {
    border-top: 1px solid #D7D7D7;

}

.footerlinks {
    color: #292929;
    text-decoration: none;
}


#pppp a:hover {
    cursor: pointer;
    color: red;
}

#copywrite {
    padding-top: 3px;
}

#copywrite a {
   
    padding-left: 50px;
    cursor:pointer;
}
#copywrite-text {
    color: black;
    padding-left: 50px;
}

    #copywrite a:hover{
        color:red;
    }
