body {
    margin: 0;
    padding: 0;
    width: 10%;
    height: 100%;
    overflow: hidden;
/**//*   background-position: center bottom;
*/    background-image: url('/Images/SkillBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 7rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right:0;
    line-height:inherit;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    font-family: Montserrat, "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    overflow-y: scroll; /* Enable vertical scrolling */
}
    .content {
    position: relative;
    width: 100%;
    text-align: left;
    padding-bottom: 20px;
    height:50px;
  
}





    .content .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 700;
        font-size: 1rem;
    }

.content img {
    width: 100%;
    margin-top: 20px;
    max-height: none;
}

.cta-box {
    display: inline-block;
    background-color: #f16059;
    right:0;
    padding: 20px 30px;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding-left: 5rem;
    padding-right: 5rem;
    font-weight: bold;
    align-content: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    text-transform: uppercase;
}

.cta-box:hover {
    background-color: #ff00;
    color: white;
}

.content .font-sans p {
    display: inline;
    margin: 0;
    padding: 0;
    line-height: 2.5rem;
}

.content .font-sans .leading-loose {
    line-height: 2;
}


   







.additional-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}





.lg\:px-36 {
    padding-left: 9rem;
    padding-right: 9rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}


/*.md\:text-left {
    text-align: left;
}*/

/*@media (min-width: 768px) .md\:ml-11 {
    margin-left: 2.75rem;
}
*/
/*.text-center {
    text-align: center;
}

*, ::after, ::before {
    box-sizing: border-box;
}



*, ::after, ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}



user agent stylesheet
.div {
    display: block;
}

.font-sans {
    font-family: "Open Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}




.mb-6 {
    margin-bottom: 1.5rem;
}

.mt-5 {
    margin-top: 1.25rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

background-color: #d7f4f4;
}

@media (min-width: 1024px) .lg\:mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

@media (min-width: 768px) .md\:inline {
    display: inline;
}

.uppercase {
    text-transform: uppercase;
}

.font-bold {
    font-weight: 700;
}

.text-xs {
    font-size: .75rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.rounded-full {
    border-radius: 9999px;
}

.max-w-max {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}



.leading-loose {
    line-height: 2;
}

.text-base {
    font-size: 1rem;
}

.font-sans {
    font-family: "Open Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.text-left {
    text-align: left;
}

.max-w-lg {
    max-width: 32rem;
}

.mb-5 {
    margin-bottom: 1.25rem;
}

dl, h1, h2, h3, h4, p, pre {
    margin: 0;
}

h1, h2, h3, h4, p {
    margin: 0;
}

h1, p {
    margin: 0;
}*/

/**, ::after, ::before {
    box-sizing: border-box;
    background-color: #d7f4f4;
}
*/
/*@media (min-width: 1024px) .lg\:mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

@media (min-width: 768px) .md\:inline {
    display: inline;
}

.uppercase {
    text-transform: uppercase;
}

.font-bold {
    font-weight: 700;
}

.text-xs {
    font-size: .75rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.rounded-full {
    border-radius: 9999px;
}

.max-w-max {
  
    max-width: max-content;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}
.mb-6 {
    margin-bottom: 1.5rem;
}

.mt-5 {
    margin-top: 1.25rem;
}*/
/*.md\:flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex {
    display: flex;
}

@media screen and (min-width: 768px) .md\:flex-row {
    flex-direction: row;
}

*, ::after, ::before {
    box-sizing: border-box;
}*/







.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

img, video {
    max-width: 100%;
    height: auto;
}

iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}



.img {
    max-width: 100%;
    height: auto;
}

.img, svg {
    display: block;
}

img {
    display: block;
}




/* frontend dev padding of 4class 22videos
*/
.md\:inline {
    display: inline;
}

.uppercase {
    text-transform: uppercase;
}

.font-bold {
    font-weight: 700;
}

.text-xs {
    font-size: .75rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.rounded-full {
    border-radius: 9999px;
}

.max-w-max {
   
    max-width: max-content;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}




.leading-loose {
    line-height: 2;
}

.text-base {
    font-size: 1rem;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}




.font-sans {
    font-family: "Open Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.text-left {
    text-align: left;
}

.max-w-lg {
    max-width: 32rem;
}

.mb-5 {
    margin-bottom: 1.25rem;
}


    







element.style {
    background-color: #d7f4f4;
}

{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

{
    display: inline;
}

.uppercase {
    text-transform: uppercase;
}

.font-bold {
    font-weight: 700;
}

.text-xs {
    font-size: .75rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.rounded-full {
    border-radius: 9999px;
}


.text-center {
    text-align: center;
}

*, ::after, ::before {
    box-sizing: border-box;
}




img, video {
    max-width: 100%;
    height: auto;
}

iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}



img {
    max-width: 100%;
    height: auto;
}

img, svg {
    display: block;
}

img {
    display: block;
}
.ul {
    list-style: none;
}


element.style {
}




element.style {
}

.mb-11 {
    margin-bottom: 2.75rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}



*, ::after, ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}



ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.md\:text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}


    .leading-loose {
    line-height: 2;
    color: rgba(0,0,0,var(--tw-text-opacity));
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 83.333333%;
    padding-top: 7rem;
    padding-bottom: 7rem;
}


element.style{

}
.leading-10 {
    line-height: 2.5rem;
}

.uppercase {
    text-transform: uppercase;
}

.font-bold {
    font-weight: 700;
}

.text-base {
    font-size: 1rem;
}

.font-display {
    font-family: Montserrat,"Open Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

*, ::after, ::before {
    box-sizing: border-box;
}