@*
   /*FRONT-END-DEVELOPER PAGE*/
*@
@{
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/frontdeveloper.css" asp-append-version="true" />

<div class="Gcontainer">
    <h1 class="text-2xl md:text-3xl font-display font-bold mb-4">
        Your Complete Guide to Becoming a Front End Developer
    </h1>
    <div class="taxonomy">
        <p>Front end development is the perfect first tech job for career changers because no prior experience or computer science degree is required, annual salaries are high—over $100,000 according to 
            <a href="https://www.indeed.com/career/front-end-developer/salaries?salaryType=YEARLY&amp;from=careers_serp">Indeed</a>—and the job growth is double the national average according to the
            <a href="https://www.bls.gov/ooh/computer-and-information-technology/web-developers.htm">BLS</a>. Below you will find information about what skills to learn, where to learn them, how to prepare your portfolio,
            how to nail your interviews, and more!
        </p>
    </div>
</div>
<div class="max-w-4xl mx-auto">
    <h2 class="font-display font-bold text-2xl text-center">Start Here</h2>
</div>


   @* @model IEnumerable<Blogs>
    @{
        ViewData["Title"] = "Learn To Code";

    }*@

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/LearnToCode.css" asp-append-version="true" />




    <div class="container">

        <div class="card-wrapper">

            <div class="my-card">
                @foreach (var item in Model)
                {
                    @if (item.Category.Contains("Blog"))
                    {
                        <div class="image">
                            <img src="@item.Image" alt="image">
                        </div>
                        <div class="my-card-body">
                            <h5 class="my-card-title">@item.Title</h5>
                            <p class="card-text">@item.Content</p>
                            <div class="card-cta"> <a href="@item.Link">Read More</a>  </div>
                        </div>
                    }
                }

           


    </div>





    

