@{
    ViewData["Title"] = "Student Outcomes";

}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/StudentOutcomes.css" asp-append-version="true" />


<section class="hero container-fluid">

    <h3 class="title text-center ">Student Outcomes</h3>
    <div class="bold-topic">
        <h1 class="hero-heading">They Made Their Career Dreams Come True</h1>
    </div>
    <div class="write-up">
        <p>
            And so can you! We’ve helped more than 350,000 students make more money,
            get job flexibility, and find a career they love. Check out their stories below.
        </p>
    </div>

        <div class="video-container">
            <video controls>
                <source src="../StudentOutcomesImages/video.mp4" type="video/mp4">
            </video>
        </div>
                   

    <div class="rating-images row">

        <div class="best-online col-sm-12 col-md-6 mb-sm-2 mt-sm-0">
            <div class="best-online-img">
                <img src="/StudentOutcomesImages/BestOnlineBootcamp.png" />
                <p>4.82/5 RATING | 326 REVIEWS</p>
            </div>     
        </div>


        <div class="switchup col-sm-12 col-md-6">
            <div class="best-online-img">
                <img src="/StudentOutcomesImages/switchup.png" />
                <p>4.5/5 RATING | 73 REVIEWS</p>
            </div>
        </div>

    </div>

</section>



<div class="review-title-top">
    <p>
        <span class="asterisk">*</span>Get The Career You Deserve<span class="asterisk">*</span>
    </p>
</div>

<section class="container-fluid card-wrapper row flex-row flex-wrap lg:gap-x-14 lg:gap-y-16 justify-center md:w-2/3 lg:w-full mx-auto max-w-[1446px]">

    <div class = "card1 col-md-12 ">
        <div class="review-pix text-center">
            <img src="../StudentOutcomesImages/reviewpix1.webp" /> 
        </div>

        <a class="review-title" href="#">
            From full-time
            parent to full-time web developer, in less than a year!
        </a>

        <div class="review-write-up">
            I found Skillcrush by looking up “rad awesome women who code stuff” and it was just so friendly. I was delighted that it 
            could not only be brain stimulating but also fun. I knew that would motivate me to keep up with the lessons. In the end, 
            it was less than a year from starting classes to becoming a paid web developer…it can happen fast. I have two little boys. 
            I feel proud that they can say my mom’s a web developer. She’s the software engineer. That’s really cool. I like that.
        </div>

        <p class="review-name">
            <cite class="center-text">Caitlin Marshall </cite>
        </p>

        <p class="review-job-title">
            <cite class="center-text">Web Developer, Owl’s Head Solutions</cite>
        </p>

        <p class="review-location">
            <cite class="center-text">Portland, Maine</cite>
        </p>


        <hr />
        <div class="cta">
            <span> <a href="#"> Read Story </a> </span> |
            <span> <a href="#"> Play Video </a> </span>
        </div>
        
    </div>

    <div class="card1 col-md-12">
        <div class="review-pix text-center">
            <img src="../StudentOutcomesImages/reviewpix2.webp" />
        </div>

        <a class="review-title" href="#">
            The Economy’s Crazy, but My New Skills Still Landed Me a New Job
        </a>

        <div class="review-write-up">
            I was job hunting after being furloughed from my company a few weeks ago. I just accepted a new position 
            last week and start tomorrow! Grateful to have a job in this economic craziness…hard work pays off!
        </div>

        <p class="review-name">
            <cite class="center-text">BECCA MEGAY </cite>
        </p>

        <p class="review-job-title">
            <cite class="center-text">Social Media Coordinator, Project Management Institute</cite>
        </p>

        <p class="review-location">
            <cite class="center-text">Philadelphia, Pennsylvania</cite>
        </p>

    </div>


</section>







<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>