
@{
    ViewData["Title"] = "Student Outcomes";

}
<link rel="stylesheet" href="~/css/StudentOutcomes.css" asp-append-version="true" />


<body class="container">
    <h3 class="font-display font-bold uppercase lg:text-lg mb-8 lg:mb-4">Student Outcomes</h3>
</body>

