<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bootcamp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bootcamp.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <header class="nav">
        <div class="top-nav-container">

            <div class="top-nav-text-container">
                <h2 class="nav-tagline-text">
                    THE ONLINE CODING &AMP; DESIGN SCHOOL WITH 

                </h2>

                <span>

                     <img src="/images/Pin.png" />
                  

                </span>
            </div>

            <div  class="SignIn">
                <a id="icon">
               
                    <svg class="fa inline mb-0.5 svg-inline--fa fa-sign-in-alt fa-w-16 nav-tagline__cta__icon w-3" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="sign-in-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M416 448h-84c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h84c17.7 0 32-14.3 32-32V160c0-17.7-14.3-32-32-32h-84c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h84c53 0 96 43 96 96v192c0 53-43 96-96 96zm-47-201L201 79c-15-15-41-4.5-41 17v96H24c-13.3 0-24 10.7-24 24v96c0 13.3 10.7 24 24 24h136v96c0 21.5 26 32 41 17l168-168c9.3-9.4 9.3-24.6 0-34z"></path></svg><span> <a href="@Url.Action("Index", "SignIn")">SIGN IN</a></span>
                    
                    
                </a>
            </div>
        </div>

        <div id="main-nav-logo" class="main-navbar">
            <a asp-controller="Breakinto" asp-action="Index">
                <img src="/images/bullseyelogo.png"/>
            </a>

          
            <a asp-controller="Breakinto" asp-action="Index">
                BREAK INTO TECH PROGRAM
            </a>
            <a asp-controller="SkillCourse" asp-action="Index">
                SKILL COURSES
            </a>
            <a asp-controller="StudentOutcomesAndReview"  asp-action="Index">
                STUDENT OUTCOMES
            </a>
          
            <a asp-controller="Blog" asp-action="Index">
                BLOG
            </a>
      
      
            <p>
                <div id="camp">
                    <a asp-controller="user" asp-action="Index"> CODING CAMP </a>
                </div>
            </p>
        </div>

    </header>









    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>

        <div class="container-flex main-footer-container">
            <h3 class="footer-text">Haven't Found What <br /> You're Looking For?</h3>

            <div class="search-container">
                <div class="search-input">
                    <input type="text" placeholder="Enter Search Terms">
                </div>
                <div class="search-button">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="svg-inline--fa fa-search fa-w-16 w-3 pb-0.5 inline-block" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>
                    <p class="submit-button">SEARCH</p>
                </div>
            </div>

            <div id="section" class="footer-menu">
                <div class="courses menu-section">
                    <h4>COURSES</h4>
                    <hr />
                    <a> Meet with an Enrollment Counselor</a><br />
                    <a> View All Courses</a> <br />
                    <a asp-controller="user" asp-action="Index"> <b>Coding</b> Camp</a> <br />
                    <a asp-controller="Breakinto" asp-action="Index"> Break Into Tech Job Training Program</a> <br />
                    <a> Front End + React JS</a> <br />
                    <a> Front End Development</a><br />
                    <a> Python for Web Apps & Data</a> <br />
                    <a> User Experience (UX)</a> <br />
                    <a>Visual Design</a> <br />
                   
                </div>
                <div  class="courses menu-section">
                    <h4>RESOURCES</h4>
                    <hr />
                    <a><b>NEW!</b> Tech Jobs Database</a><br />
                    <a> The Get Hired Track</a> <br />
                    <a> Career Coaching for Bullseye Students: Here’s How It Works</a> <br />
                    <a> 100+ Ways to Learn to Code for Free</a> <br />
                    <a>
                        11 High-Paying Entry-Level Tech Jobs—No Experience Required
                    </a> <br />
                    <a> How to Decide Between Being a Web Designer vs. Web Developer</a><br />
                    <a> The 15 Essential Front End Developer Skills</a> <br />
                    <a> 9 Skills Every Successful Web Designer Needs (UX)</a> <br />
                    
                </div>
                <div class="courses menu-section">
                    <h4>ABOUT Bullseye</h4>
                    <hr />
                    <p> We’re on a mission to support our students— <br />especially those marginalized by gender, race, and/or <br /> age—to learn in-demand tech skills and land higher <br /> paying and more fulfilling jobs.</p><br />
                    <a> About The Team</a> <br />
                    <a asp-controller="Blog" asp-action="Index"> Blog</a> <br />
                    <a>Community Guidelines</a> <br />
                    <a>Jobs</a> <br />
                    <a asp-controller="SignIn" asp-action="Index"> Sign In</a><br />
                   
                </div>
            </div>
            <div class="social-logos">
                <a>
                    <img src="~/images/facebook.svg" />
                </a>
                <a>
                    <img src="~/images/instagram.svg" />
                </a>
                <a>
                    <img src="~/images/linkedin.svg" />
                </a>
                <a>
                    <img src="~/images/instagram.svg" />
                </a>
            </div>
            <div class="footer-help">
                <div" class="help-logo">
                    <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="life-ring" class="svg-inline--fa fa-life-ring fa-w-16 footer__help__icon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 504c136.967 0 248-111.033 248-248S392.967 8 256 8 8 119.033 8 256s111.033 248 248 248zm-103.398-76.72l53.411-53.411c31.806 13.506 68.128 13.522 99.974 0l53.411 53.411c-63.217 38.319-143.579 38.319-206.796 0zM336 256c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80zm91.28 103.398l-53.411-53.411c13.505-31.806 13.522-68.128 0-99.974l53.411-53.411c38.319 63.217 38.319 143.579 0 206.796zM359.397 84.72l-53.411 53.411c-31.806-13.505-68.128-13.522-99.973 0L152.602 84.72c63.217-38.319 143.579-38.319 206.795 0zM84.72 152.602l53.411 53.411c-13.506 31.806-13.522 68.128 0 99.974L84.72 359.398c-38.319-63.217-38.319-143.579 0-206.796z"></path></svg>
                </div">
                <div class="need-help">
                    <h5>
                        <b >Need</b> <br />
                        
                        <b>Help?</b>
                    </h5>
                </div>
                <div class="footer-counselor">
                    Check out the <u><b>FAQs,</b></u> email us at <u><b>partners@bullseyemanpower.com,</b></u> call us at +2349122995390, or set up a time to meet with an <u><b>enrollment</b></u> <br /> <u><b>counselor!</b></u>
                </div>

            </div>

        </div>
        <div class="footer-logo-title">
            <a>
                <img src="/images/bullseyelogo.png" />
            </a>
            <div id="copywrite">
                <span id="copywrite-text">
               © Copyright <b>Bullseye Digital Manpower</b>. All Rights Reserved
            </span>
            <a>
                Site Map
            </a>
            <a>
                Privacy Policy
            </a>
            <a>
                Terms of Service
            </a>
            </div>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>


