@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/SkillCourse.css" asp-append-version="true" />

<div class="main ">

    <section class="content" style="height: 100vh; padding-top: 15vh; font-size: 1rem;">
                <div class="w-5/6 mx-auto text-center py-20 " style="background-position: center bottom; background-repeat: no-repeat; background-size: cover;">

       <div class="w-5/6 mx-auto text-center" style="background-position: center bottom; background-repeat: no-repeat; background-size: cover;">
           <h3 class="leading-5 text-base font-bold font-display uppercase "  style=" height: -20rem; font-size:  1rem; font-weight:200; font-family: Montserrat,'Open Sans',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'; text-transform: uppercase; font-weight: 700;">
               Specialization Courses
            </h3>
            <h1 class="leading-tight lg:leading-relaxed max-w-xl mx-auto text-6xl font-bold font-display" style="font-size: 3rem; line-height: 1.625; font-weight: 700;">Laser Focus on One <br /> Specific Technical Skill</h1>
            <h4 class="leading-10 font-display font-bold text-base uppercase text-black">
                <p class="mt-4 leading-loose lg:leading-10 text-base font-sans" style="margin-top:1rem;font-size:1rem; font-weight:400; line-height:2.5rem; text-align:center;">With the friendliest and most fun skill courses on the Internet!</p>
                <a href="#specializations" class="cta-box font-bold text-base;" data-testid="hero-cta">VIEW SPECIALIZATIONS</a>
            </h4>
        </div>
    </section>





           
    

    <section class="additional-content mt-5" style="padding-top: 40vh; padding-left: 1rem; padding-right: 1rem;">
    <div class="row">
        <div class="col-md-6 order-md-2">
            <img src="/images/courses-student.jpg" alt="Student" class="img-fluid">
        </div>
        <div class="col-md-6 order-md-1">
            <h1 class="font-bold font-display text-4xl max-w-xl pb-3" style="font-weight: 700; margin-left:1rem; font-size: 2rem; font-family: Montserrat, 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';">
                You Know What Skill You Need—<br>Now It’s Time to Learn It
            </h1>
            <p class="leading-loose text-base font-sans max-w-lg" style="line-height: 1.6; margin-left:1rem;font-size: 1rem; font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';">
                If you’ve been researching exactly what skill you want to learn, or if<br>
                you just need one more skill to round out your resume,<br>
                specialization courses are the perfect fit! Our courses are designed<br>
                to take you from “I’m just getting started” to “I’m super<br>
                knowledgeable” in each technical skill. So if you’re ready to<br>
                confidently add a new skill to your resume, enroll today!
            </p>
        </div>
        </div>      
</section>
    <section class="new-section" style="background-color: #8ad1ded4; padding:5rem ; width: 100%; width:-23rem; overflow: hidden; box-sizing:border-box;  margin-top:10vh; padding-top:8rem; padding-bottom:8rem;">
        <div class="container" style=" padding-right: 0; ">
            <div class="row">
                <div class="col-md-100 text-center">
                    <h2 class="font-bold text-3xl mb-2" style="font-size: 2rem;font-size: 2.5rem; line-height:inherit.5rem; font-weight:700; text-align:center; font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';color:#1977cc">Our Specialization Courses</h2>
                    <p class="text-base" style="font-size: 1rem; text-align:center; max-width:42rem;   margin-left: auto;  margin-right: auto;    line-height:1; padding-top: 2rem;  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; color:#1977cc;">If you need to add a specific skill to your technical tool-belt, then our skill specialization courses are perfect for you! Check out the offerings below:</p>
                </div>
            </div>
        </div>
    </section>












    <section id="specializations" class="w-11/12 lg:w-5/6 mx-auto py-20 lg:py-16 ">
  <!-- Dev -->
        <h2 class="leading-10 text-3xl font-bold font-display text-center mb-11" style="color:#2c4964;">
            <span class="text-danger align-middle">*</span> Coding <span class="text-danger align-middle">*</span>
        </h2>

        <div class="max-w-4xl mx-auto px-6 py-16 md:py-20 lg:px-36 my-10">
            <div class="flex flex-col md:flex-row" style="background-color:#8ad1ded4; height:45rem;">
                <div>
                    <img width="60" height="60" id="Badge" src="~/Images/section Image Main.jpg" class="mx-auto entered lazyloaded hover-effect; margin-right:5rem;" style="display:inline-block; position:relative;transition:filter 0.ease-in-out;saturate(1.5); border-radius:1.5rem;">
            <div class="text-center md:text-left md:ml-11">
              <h3 class="font-bold font-display text-xl " data-testid="Front End Development"style="color:#2c4964; margin-right:13rem;" End Development">Front End Development</h3>
              <h4 class="font-bold font-display text-base uppercase" style="color:#2c4964;margin-right:19.5rem;">(Average Salary: $105,000 )</h4>
                    <ul class="mt-5 mb-6" style="margin-right:10rem;">

                        <li class="font-bold text-xs uppercase rounded-full md:inline px-3 py-1 mx-auto lg:mx-2 max-w-max my-2" style="background-color:#1977cc;color:#fff; ">4 classes</li>

                        <li class="font-bold text-xs uppercase rounded-full md:inline px-3 py-1 mx-auto lg:mx-2 max-w-max my-2" style="background-color:#1977cc;color:#fff;">9 projects</li>

                        <li class="font-bold text-xs uppercase rounded-full md:inline px-3 py-1 mx-auto lg:mx-2 max-w-max my-2" style="background-color:#1977cc;color:#fff;">45 lessons</li>

                        <li class="font-bold text-xs uppercase rounded-full md:inline px-3 py-1 mx-auto lg:mx-2 max-w-max my-2" style="background-color:#1977cc;color:#fff;">22 videos</li>
                                              </ul>
              <p class="max-w-lg leading-loose font-sans text-base text-left mb-5"style="color:#2c4964; margin-top:2rem;">Front end developers use HTML, CSS, and JavaScript—the building blocks of all modern websites—to code up the designs created by web designers and implement them on the web.</p>
              <h4 class="leading-10 uppercase font-display font-bold text-base" style="margin-right:28rem;margin-top:-2rem;color:#2c4964;">Classes:</h4>
              <ul class="mb-11">


                            <div class="container">
                                <ul class="feature-list">
                                    <li>
                                        <img width="30" height="30" src="~/Images/HTML IMAGE.jpg" class="icon">
                                        <h4 class="feature-title">HTML &amp; CSS</h4>
                                    </li>
                                    <li>
                                        <img width="30" height="30" style="fill:#1977cc;" src="~/Images/GITHUB IMAGE.jpg" class="icon">
                                        <h4 class="feature-title">Working with Git &amp; GitHub</h4>
                                    </li>
                                    <li>
                                        <img width="30" height="30" src="~/Images/WEB IMAGE.jpg" class="icon">
                                        <h4 class="feature-title">Responsive Web Development</h4>
                                    </li>
                                    <li>
                                        <img width="30" height="30" src="~/Images/JS IMAGE.jpg" class="icon">
                                        <h4 class="feature-title">JavaScript Fundamentals</h4>
                                    </li>
                                </ul>
                                <div class="button-section">
                                    <a href="https://skillcrush.com/blueprint/front-end-development-course/" class="learn-more-button">Learn More</a>
                                    <a href="https://skillcrush.com/blueprint/front-end-development-course/#enroll" class="enroll-button">Enroll Now</a>
                                </div>
                            </div>

                </div>
            </div>
        </div>
    </section>


 
    <section id="specializations" class="w-11/12 lg:w-5/6 mx-auto py-20 lg:py-16 my-sm-4 ">
  <!-- Dev -->
        <div class="max-w-4xl mx-auto px-6 py-16 md:py-20 lg:px-36 my-10">
            <div class="flex flex-col md:flex-row" style="background-color:#fff0f0; height:48rem;">
                <div>
                    <img width="60" height="60" id="Badge" src="~/Images/REACT1.jpg" class="mx-auto entered lazyloaded hover-effect; margin-right:5rem;" style="display:inline-block; position:relative;transition:filter 0.ease-in-out;saturate(1.5); border-radius:1.5rem;">
            <div class="text-center md:text-left md:ml-11">
              <h3 class="font-bold font-display text-xl " data-testid="Front End Development"style="color:#2c4964; margin-right:4rem;" End Development">Front End Development + React JS</h3>
              <h4 class="font-bold font-display text-base uppercase" style="color:#2c4964;margin-right:19rem;">(Average Salary: $110,000 )</h4>
                    <ul class="mt-5 mb-6" style="margin-right:10rem;">

                        <li class="font-bold text-xs uppercase rounded-full md:inline px-3 py-1 mx-auto lg:mx-2 max-w-max my-2" style="background-color:#1977cc;color:#fff; ">4 classes</li>

                        <li class="font-bold text-xs uppercase rounded-full md:inline px-3 py-1 mx-auto lg:mx-2 max-w-max my-2" style="background-color:#1977cc;color:#fff;">9 projects</li>

                        <li class="font-bold text-xs uppercase rounded-full md:inline px-3 py-1 mx-auto lg:mx-2 max-w-max my-2" style="background-color:#1977cc;color:#fff;">45 lessons</li>

                        <li class="font-bold text-xs uppercase rounded-full md:inline px-3 py-1 mx-auto lg:mx-2 max-w-max my-2" style="background-color:#1977cc;color:#fff;">22 videos</li>
                                              </ul>
                        <p class="max-w-lg leading-loose font-sans text-base text-left mb-5" style="color:#2c4964; margin-top:0rem;">Front end developers use HTML, CSS, and JavaScript (including libraries like React) to transform static website designs into rich, interactive, multimedia web experiences.</p>
              <h4 class="leading-10 uppercase font-display font-bold text-base" style="margin-right:28rem;margin-top:-2rem;color:#2c4964;">Classes:</h4>
              <ul class="mb-11">

 




                            <div class="container">
                                <ul class="feature-list">
                                    <li>
                                        <img width="30" height="30" src="~/Images/HTML IMAGE.jpg" class="icon">
                                        <h4 class="feature-title">HTML &amp; CSS</h4>
                                    </li>
                                    <li>
                                        <img width="30" height="30" style="fill:#1977cc;" src="~/Images/GITHUB IMAGE.jpg" class="icon">
                                        <h4 class="feature-title">Working with Git &amp; GitHub</h4>
                                    </li>
                                    <li>
                                        <img width="30" height="30" src="~/Images/WEB IMAGE.jpg" class="icon">
                                        <h4 class="feature-title">Responsive Web Development</h4>
                                    </li>
                                    <li>
                                        <img width="30" height="30" src="~/Images/JS IMAGE.jpg" class="icon">
                                        <h4 class="feature-title">JavaScript Fundamentals</h4>
                                    </li>
                                    <li>
                                        <img width="30" height="30" src="~/Images/REACT JS.jpg" class="icon">
                                        <h4 class="feature-title">Introduction to JavaScript React</h4>
                                    </li>
                                </ul>
                                <div class="button-section">
                                    <a href="https://skillcrush.com/blueprint/front-end-development-course/" class="learn-more-button">Learn More</a>
                                    <a href="https://skillcrush.com/blueprint/front-end-development-course/#enroll" class="enroll-button">Enroll Now</a>
                                </div>
                            </div>

                </div>
            </div>
        </div>
    </section>






        <!-- Dev -->
    <section id="specializations" class="w-11/12 lg:w-4/5 mx-auto py-5 lg:py-28 my-4">
        <div class="max-w-4xl mx-auto px-6 py-16 md:py-20 lg:px-36 my-10">
            <div class="flex flex-col md:flex-row" style="background-color:#f3f3fc; height:45rem;">
                <div>
                    <img width="60" height="60" id="Badge" src="~/Images/python main.jpg" class="mx-auto entered lazyloaded hover-effect; margin-right:5rem;" style="display:inline-block; position:relative;transition:filter 0.ease-in-out;saturate(1.5); border-radius:1.5rem;">
                    <div class="text-center md:text-left md:ml-11">
                        <h3 class="font-bold font-display text-xl " data-testid="Front End Development" style="color:#2c4964; margin-right:12rem;" End Development">Python For Web Apps &amp; Data</h3>
                        <h4 class="font-bold font-display text-base uppercase" style="color:#2c4964;margin-right:23rem;">(Average Salary: $110,000 )</h4>
                        <ul class="mt-5 mb-6" style="margin-right:14rem;">

                            <li class="font-bold text-xs uppercase rounded-full md:inline px-3 py-1 mx-auto lg:mx-2 max-w-max my-2" style="background-color:#1977cc;color:#fff; ">3 classes</li>

                            <li class="font-bold text-xs uppercase rounded-full md:inline px-3 py-1 mx-auto lg:mx-2 max-w-max my-2" style="background-color:#1977cc;color:#fff;">3 projects</li>

                            <li class="font-bold text-xs uppercase rounded-full md:inline px-3 py-1 mx-auto lg:mx-2 max-w-max my-2" style="background-color:#1977cc;color:#fff;">45 lessons</li>

                            <li class="font-bold text-xs uppercase rounded-full md:inline px-3 py-1 mx-auto lg:mx-2 max-w-max my-2" style="background-color:#1977cc;color:#fff;">36 videos</li>
                        </ul>
                        <p class="max-w-lg leading-loose font-sans text-base text-left mb-5" style="color:#2c4964; margin-top:2rem;">Even as an entry-level Python developer, you’ll be able to quickly build web apps and gorgeous data visualizations—two skills that employers are willing to pay big money for..</p>
                        <h4 class="leading-10 uppercase font-display font-bold text-base" style="margin-right:32rem;margin-top:1rem;color:#2c4964;">Classes:</h4>
                        <ul class="mb-11">





                            <div class="container">
                                <ul class="feature-list">
                                    <li>
                                        <img width="30" height="30" src="~/Images/python1.jpg" class="icon">
                                        <h4 class="feature-title">Getting Started with Python; CSS</h4>
                                    </li>
                                    <li>
                                        <img width="30" height="30" style="fill:#1977cc;" src="~/Images/python2.jpg" class="icon">
                                        <h4 class="feature-title">Using Python to Build Web Apps</h4>
                                    </li>
                                    <li>
                                        <img width="30" height="30" src="~/Images/python3.jpg" class="icon">
                                        <h4 class="feature-title">Preparing & Displaying Data with Python</h4>
                                    </li>
                                </ul>
                                <div class="button-section">
                                    <a href="https://skillcrush.com/blueprint/front-end-development-course/" class="learn-more-button">Learn More</a>
                                    <a href="https://skillcrush.com/blueprint/front-end-development-course/#enroll" class="enroll-button">Enroll Now</a>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
    </section>































    
































































   
   


